{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["jest"],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0
  }
}
